.acceuil
{
    font-family: impact, serif;
    font-size: 4.5em;
    text-align: center;
    color: red;
}
body
{
    background-image: url("galaxie.jpeg");
}
.h3
{
    color: aqua;
    font-size: 1.5em;
    text-align: center;

}
